.block {
    border-bottom: 0 solid #ddd;
    padding: 10px 15px;
    clear: both
}

.block .row {
    display: block;
    font-weight: 400;
    margin-top: 6px
}

.litercoloum {
    border: 4px solid #d22222;
    position: absolute;
    left: 0;
    width: 0;
    top: 62px;
    height: 15px
}

.block .row-title {
    margin-bottom: 5px
}

.block .row-title span {
    padding-bottom: 4px;
    color: #d22222;
    font-size: 18px;
    border-bottom: 1px solid #d22222;
    width: auto
}

.block .row-content {
    clear: both
}

.block .row-content.prodetail {
    line-height: 28px;
    font-size: 15px
}

.block .row-content.prodetail a {
    color: #d22222;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid
}

.block .row-content.prodetail p {
    word-break: break-word;
    padding: 5px 0
}

.block .row-content.prodetail img {
    max-width: 100%;
    height: auto
}

.pro-picture {
    margin: 0 auto;
    width: 80%;
    margin-top: 10px
}

.pro-picture img {
    width: 100%
}

.info h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    height: 46px;
    overflow: hidden
}

.globalbuy {
    color: #aaa;
    font-size: 12px;
    float: left
}

.ladutitle {
    color: #aaa;
    float: left;
    line-height: 20px
}

.ladu {
    color: #aaa;
    float: left;
    position: relative
}

.ladu li {
    line-height: 20px;
    float: left
}

.ladu li.lajiaoicons {
    width: 50px;
    background: url() 0 0 no-repeat;
    height: 20px
}

.ladu li.redlajiaoicon {
    width: 47%;
    background: url() 0 -20px no-repeat;
    height: 20px;
    position: absolute
}

.collect {
    float: right;
    color: #aaa
}

.collect li {
    margin-left: 15px;
    float: left
}

.collect li img {
    height: 17px;
    width: 17px;
    vertical-align: middle;
    margin-right: 4px
}

.description {
    font-size: 13px;
    line-height: 28px;
    color: #e94141
}

.pricetext {
    display: block;
    color: #d22222;
    font-size: 16px;
    margin-bottom: 10px
}

.relateprolist > li {
    padding: 15px 0;
    border-bottom: 1px solid #ddd
}

.relatepic {
    float: left;
    height: 90px;
    overflow: hidden
}

.relatepic img {
    width: 90px
}

.relateinfo {
    margin-left: 110px
}

.relateinfo h3 {
    font-weight: 400;
    color: #3c3c3c;
    font-size: 13px;
    line-height: 18px;
    height: 35px;
    overflow: hidden
}

.ref-row {
    color: #aaa;
    font-size: 12px
}

.ref-row .left {
    float: left
}

.ref-row .right {
    float: right;
    position: relative
}

.ref-row .lajiaoicons {
    width: 50px;
    margin-top: 2px;
    height: 20px;
    display: inline-block;
    background: url() 0 0 no-repeat
}

.ref-row .redicon {
    width: 50%;
    position: absolute;
    top: 0;
    background: url() 0 -20px no-repeat
}

.price-small {
    float: left;
    color: #d22222;
    font-size: 20px
}

.relatecollect {
    float: right
}

.relatecollect li {
    float: left;
    margin-left: 15px
}

.relatecollect .icons {
    width: 17px !important;
    height: 17px;
    vertical-align: middle;
    margin-right: 4px
}

.sharerow {
    width: 290px;
    margin: 30px auto
}

.bdsharebuttonbox > a {
    width: 42px !important;
    height: 62px !important;
    margin: 0 12px 0 .2rem !important;
    background-size: 42px 62px;
    background-repeat: no-repeat
}

.bdsharebuttonbox .bds_tsina {
    background-position: 0 0 !important;
    background-image: url(/content/images/weibo.svg) !important
}

.bdsharebuttonbox .bds_sqq {
    background-position: 0 0 !important;
    background-image: url(/content/images/qq.svg) !important
}

.bdsharebuttonbox .bds_weixin {
    background-position: 0 0 !important;
    background-image: url(/content/images/weixin.svg) !important
}

.bdsharebuttonbox .bds_qzone {
    background-position: 0 0 !important;
    background-image: url(/content/images/qqkongjian.svg) !important
}

.bdsharebuttonbox .bds_more {
    background-position: 0 0 !important;
    background-image: url(/content/images/more.svg) !important
}

.shareText {
    margin-top: 2px
}

.shareText li {
    float: left;
    width: 50.7px;
    text-align: center
}

.bdshare_popup_box {
    display: none !important
}

body {
    padding-bottom: 18px !important
}

.btmbtns {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    opacity: .97;
    text-align: center;
    max-width: 1080px
}

.lingquan > a {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    color: #fff;
    background-color: #faa636;
    width: 100px
}

.lingquan {
    float: right
}

.lingquan > a:hover {
    color: #fff
}

.gobtn > a {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    color: #fff;
    background-color: #d22222;
    width: 100px
}

.gobtn {
    float: right
}

.gobtn > a:hover {
    color: #fff
}

.mask-wrapper {
    display: none
}

.ios-panel, .android-panel {
    display: none
}

.mask-wrapper .toptip {
    width: 80%;
    float: right;
    margin-right: 20px
}

.mask-wrapper .middletip {
    height: 75px;
    margin-left: 10%;
    margin-top: 7%;
    margin-bottom: 7%
}

.mask-wrapper .bottomtip {
    width: 80%;
    margin-left: 10%
}

.tpwd-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 10%;
    margin-top: 2%
}

.tpwd-wrapper .bg-tpwdinput {
    width: 240px
}

.tpwd-wrapper .tpwd-input {
    margin-left: 57px;
    text-align: center;
    font-size: 16px;
    width: 150px;
    color: gray;
    border: 0;
    resize: none;
    position: absolute;
    top: 17px
}

.init-wrapper {
    display: none
}

.tpwd-wrapper .circle-cion {
    width: 80px;
    height: 80px;
    border-radius: 45px;
    background-color: #f3f2f2;
    display: inline-block;
    margin-top: -45px;
    border: #fff 5px solid
}

.tpwd-wrapper .circle-cion .icon-yaoshi {
    color: #e74737;
    font-size: 30px;
    display: inline-block;
    margin: 15px 0 7px
}

.tpwd-wrapper .circle-cion .text {
    color: #e74737
}

.tpwd-wrapper .tpwd::before {
    font-size: 16px;
    position: absolute;
    padding: 0 5px;
    display: inline-block;
    content: attr(title);
    top: -10px;
    background-color: #fff
}

.tpwd-wrapper .tpwd {
    border: 1px solid #eee;
    padding: 30px 45px;
    display: inline-block;
    min-width: 96px;
    position: relative;
    margin-top: 20px
}

.tpwd-wrapper .tpwd .icon-duihao {
    color: #3fd674
}

.tpwd-wrapper .buytip {
    color: #e73743;
    margin-top: 5px
}